{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <header>
        <span><a href="/">Accueil</a> / Mon Compte</span>
        <h1>Mon Compte</h1>
    </header>
{% endblock %}
