{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <header>
        <span><a href="/">Accueil</a> / Mon Panier</span>
        <h1>Mon panier</h1>
    </header>

    <section class="cart">
        <div class="cart-content">

        </div>

        <div class="cart-checkout">

        </div>
    </section>

    <script defer>
        let cookies = recupCookie("cart");

        if(cookies != null) {
            cookies = JSON.parse(cookies);
        } else {
            cookies = [];
        }

        console.log(cookies);

        let cart = 0;
        cookies.forEach(function(event) {
            cart += event.quantity;
        });

        function recupCookie(cart){
            if (document.cookie.length == 0) {
                return null;
            }

            let cookies = document.cookie.split("; ");
            cookies.forEach(element => {
                item = element.split("=");
                if(item[0] === cart) {
                    output = item[1]
                } else {
                    output = null;
                }
            })
            return output;
        }

        cookies.forEach(item => {
            if(item.price == 0) {
                item.price = "Gratuit";
            } else {
                item.price = item.price + "€";
            }
            html = `
                <article class="event">
                    <img src='build/${item.picture}' alt=${item.name}>
                    <div>
                        <h2>${item.name}</h2>
                        <span>${item.date}</span>
                        <span>${item.place}</span>
                        <p class="price">${item.price}</p>
                        <div class="action">
                            <i id="add" class="fa-solid fa-plus"></i>
                            <p id="quantity">1 place</p>
                            <i id="del" class="fa-solid fa-minus"></i>
                        </div>
                    </div>
                </article>
                <hr>
            `;
            document.querySelector(".cart-content").innerHTML += html;
        })
    </script>
{% endblock %}