@font-face {
  font-family: 'MarianneRegular';
  src: url("./fonts/marianne/Marianne-Regular.woff") format('woff');
}

@font-face {
  font-family: 'MarianneBold';
  src: url("./fonts/marianne/Marianne-Bold.woff") format('woff');
}

@font-face {
  font-family: 'MarianneLight';
  src: url("./fonts/marianne/Marianne-Light.woff") format('woff');
}

$main-color: #4081BC;
$gray-color: #787878;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  font-family: MarianneRegular, sans-serif;
}

.links {
  color: $main-color;
  text-decoration: none;
  transition: all 0.3s;
  display: inline-block;

  &:hover {
    transform: translateX(3px);
  }
}

h1 {
  font-family: MarianneBold, sans-serif;
  font-size: 50px;
}

h2 {
  font-family: MarianneBold, sans-serif;
  font-size: 32px;
}

span {
  color: $gray-color;
  font-family: MarianneBold, sans-serif;
}

p {
  font-family: MarianneLight;
  color: $gray-color;
}

.button {
  padding: 10px 20px 13px 20px;
  color: white;
  background: $main-color;
  border: 2px solid $main-color;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: $main-color;
  }
}

.alert {
  color: red;
  margin-bottom: 20px;
}

#cart-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s;

  i {
    color: #fff;
    font-size: 20px;
  }

  &:hover {
    transform: translateY(-4px);
  }
}

nav {
  position: fixed;
  z-index: 10;
  background: #fff;
  padding: 0 30px;
  width: 100vw;
  height: 90px;
  //box-shadow: 3px 3px 11.5px -5.5px #dddddd;

  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 60%;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    li a {
      color: black;
      text-decoration: none;
      transition: all 0.4s;

      &:hover,
      &:active,
      &:focus,
      &.link-active {
        color: $main-color;
      }
    }

    .account a {
      height: 40px;
      width: 40px;
      font-size: 22px;
      color: $main-color;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid transparent;
      border-radius: 25px;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        //border: 3px solid $main-color;
        //background-color: transparentize($main-color, 0.75);
        transform: translateY(-3px);
      }
    }
  }
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 7% 30px 7%;

  &#home {
    align-items: center;
    img {
      width: 80%;
      height: auto;
    }
  }

  span,
  a {
    color: $main-color;
    text-decoration: none;
    padding-left: 2px;
  }

  a {
    display: inline-block;
    transition: all 0.4s;

    &:hover {
      transform: translateY(-3px);
    }
  }

  img {
    height: 40px;
    transform: translateY(5px);
  }
}

.search {
  padding: 0 7%;
  width: 100vw;
  display: flex;
  flex-direction: column;

  input {
    position: relative;
    font-family: MarianneLight;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid $gray-color;
    font-size: 18px;
    padding-left: 35px;
    padding-bottom: 3px;
    background: url("../images/search_default.svg") no-repeat left center;
    outline: none;
    transition: all 0.4s;

    &:active,
    &:focus {
      background: url("../images/search_active.svg") no-repeat left center;
      border-bottom: 2px solid $main-color;
      color: $main-color;
    }
  }

  .wrapper {
    margin: 20px 0;
    padding: 10px 0;
    position: relative;
    width: 100%;
    overflow: hidden;

    .icon {
      position: absolute;
      top: 0;
      height: 100%;
      width: 120px;
      display: flex;
      align-items: center;

      & i {
        width: 45px;
        height: 45px;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        line-height: 45px;
        border-radius: 50%;
        color: $main-color;
      }

      &:first-child {
        left: 0;
        background: linear-gradient(90deg, #fff 70%, transparent );
        display: none;

        i {
          margin-left: 15px;
        }
      }

      &:last-child {
        right: -10px;
        background: linear-gradient(-90deg, #fff 70%, transparent );

        i {
          margin-right: 0;
          transform: translateX(45px);
        }
      }
    }

    .filters {
      display: flex;
      list-style: none;
      gap: 13px;
      overflow-x: hidden;
      scroll-behavior: smooth;

      &.dragging {
        scroll-behavior: auto;
        cursor: grab;

        .filter {
          user-select: none;
        }
      }

      .filter {
        cursor: pointer;
        white-space: nowrap;
        background-color: white;
        color: $main-color;
        border: 2px solid $main-color;
        border-radius: 25px;
        padding: 5px 20px 8px 20px;
        transition: all 0.3s;

        &:hover,
        &:active,
        &:focus,
        &.filter-active {
          background-color: transparentize($main-color, 0.75);
        }
      }
    }
  }
}

.events {
  width: 100%;
  padding: 40px 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  .event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;

    img {
      height: 350px;
      width: 350px;
      border-radius: 10px;
      cursor: pointer;
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      a {
        align-self: flex-start;
      }
      span {
        margin-top: -10px;
      }
    }
  }
}

.login {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;

  #login-left {
    width: 50vw;
    height: 100%;
    background: url("../images/cathedrale.jpeg") no-repeat center;
    background-size: cover;
  }

  #login-right {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      width: 70%;
      display: flex;
      flex-direction: column;

      &[name="registration_form"] ul {
        list-style: none;
        margin: 5px 0 15px 0;

        li {
          color: red;
        }
      }

      h1 {
        margin-bottom: 30px;
      }

      div {
        display: flex;
        flex-direction: column;
      }

      label {
        font-size: 18px;
        color: $gray-color;
        margin-bottom: 5px;
      }

      input[type="email"],
      input[type="password"] {
        height: 40px;
        border: none;
        border-bottom: 1px solid $gray-color;
        outline: none;
        margin-bottom: 30px;
        font-family: MarianneLight;
        color: $gray-color;
        font-size: 16px;

        &::placeholder {
          font-style: italic;
          color: lighten($gray-color, 0.5);
        }

        &:active,
        &:focus {
          border-bottom: 1px solid $main-color;
          color: $main-color;
        }
      }

      button {
        width: 40%;
        align-self: center;
        font-family: MarianneBold;
        font-size: 16px;
      }

      p {
        align-self: center;
        padding-top: 10px;

        a {
          color: $main-color;
          font-family: Marianne;
          text-decoration: none;
          display: inline-block;
          transition: all 0.3s;

          &:hover {
            transform: translateX(3px);
          }
        }
      }

      .checkbox {
        margin-top: -10px;
        margin-bottom: 30px;
        height: 30px;
        display: flex;
        align-items: flex-start;

        label {
          cursor: pointer;
        }
      }
    }
  }
}

#contact {
  width: 100vw;

#block {
  display: flex;
  justify-content: center;

  #content-block {
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    height: 50vh;
    width: 60vw;
    margin-bottom: 5vh;
  
    h2 {
      color: white;
      font-family: MarianneBold;
      font-size: 30px;
      text-align: center;
      padding: 20px 0px 20px 0px;
    }
    p{
      color: white;
      font-size: 18px;
      margin: 0;
      padding: 2px 30px 2px 30px;
    }
  }
}


  footer {
    width: 100vw;
    display: flex;
    flex-direction: row;

    

    #réseaux {

      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;


      img {
        width: 300px;

      }

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        

        img {
          width: 24px;
          margin: 10px;
          margin-top: 30px;
        }
      }
    }

    #infos {

      width: 33%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .title_footer::before {
        content: '';
        display: inline-block;
        height: 1.4rem;
        width: 0.2rem;
        background: $main-color;
        margin-right: 1rem;
    }

    .title_footer {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    
    a {
      text-decoration: none;
      color: #787878;
    }
    }

    #map {
      display: flex;
      flex-direction: column;
      width: 33%;
      align-items: center;

      .title_footer {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1.2rem;
    }




  .title_footer::before {
    content: '';
    display: inline-block;
    height: 1.4rem;
    width: 0.2rem;
    background: $main-color;
    margin-right: 1rem;
}
      img {
        margin-top: 50px;
        width: 150px

      }

      img:hover {
        transform: scale(1.1);
        transition: all 0.7s;
      }

    }

  }

  
}

#event {
  width: 100vw;
  padding: 0 7% 50px 7%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  & > div {
    display: flex;
    gap: 50px;
    align-items: center;

    img {
      width: 45%;
      max-width: 300px;
      height: auto;
      border-radius: 10px;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  a {
    align-self: flex-start;
  }

  span#price {
    font-size: 20px;
    margin-bottom: -20px;
    color: $main-color;
  }

  .card-action {
    display: flex;
    gap: 20px;

    div {
      display: flex;
      flex-direction: row;
      gap: 15px;
      height: max-content;
      align-items: center;
      justify-content: center;

      i {
        height: 30px;
        width: 30px;
        background-color: $main-color;
        color: #fff;
        font-size: 15px;
        padding: 13px 0 13px 0;
        cursor: pointer;
        transition: all 0.4s;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        font-family: MarianneBold;
      }
    }
  }
}

.cart {
  padding: 40px 7%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;

  .cart-empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    span {
      color: #000;
      font-size: 22px;
    }
  }

  .cart-content {
    width: calc(100% - 410px);
    display: flex;
    flex-direction: column;
    gap: 40px;

    article {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 25px;

      img {
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;
        height: fit-content;
        object-fit: cover;
        object-position: center top;
        border-radius: 10px;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50vw;

        p {
          width: 80%;
        }

        a {
          align-self: flex-start;
        }

        span {
          margin-top: -10px;
          margin-bottom: -10px;
        }

        .price{
          color: $main-color;
          font-family: MarianneBold;
        }

        & > div {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;

          .action {
            bottom: 0;
            right: 100px;
            display: flex;
            flex-direction: row;
            gap: 15px;
            width: auto;

            span {
              margin: 0;
              padding-top: 2px;
              text-align: center;
            }

            i {
              height: 30px;
              width: 30px;
              background-color: $main-color;
              color: #fff;
              font-size: 15px;
              padding: 13px 0 13px 0;
              cursor: pointer;
              transition: all 0.4s;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .del {
            color: #BE3F3F;
            font-size: 20px;
            cursor: pointer;
          }
        }
      }

    }

    hr {
      width: 70%;
      //margin: 0 auto;
      border: 0.5px solid $gray-color;
    }
  }

  .cart-checkout {
    background-color: #F4F1F1;
    width: 350px;
    height: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    gap: 30px;

    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        color: #000;
        font-family: MarianneBold;
      }
    }

    hr {
      width: 80%;
      margin: 0 auto;
      border: 0.5px solid #D2D1D1;
    }
  }
}


/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: $main-color;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__footer {
  display: flex;
  gap: 30px;
}

.modal__btn-primary {
  background-color: $main-color;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}