@charset "UTF-8";
@font-face {
  font-family: "MarianneRegular";
  src: url("./fonts/marianne/Marianne-Regular.woff") format("woff");
}
@font-face {
  font-family: "MarianneBold";
  src: url("./fonts/marianne/Marianne-Bold.woff") format("woff");
}
@font-face {
  font-family: "MarianneLight";
  src: url("./fonts/marianne/Marianne-Light.woff") format("woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  font-family: MarianneRegular, sans-serif;
  overflow-x: hidden;
}

.links {
  color: #4081BC;
  text-decoration: none;
  transition: all 0.3s;
  display: inline-block;
}
.links:hover {
  transform: translateX(3px);
}

h1 {
  font-family: MarianneBold, sans-serif;
  font-size: 50px;
}

h2 {
  font-family: MarianneBold, sans-serif;
  font-size: 32px;
}

span {
  color: #787878;
  font-family: MarianneBold, sans-serif;
}

p {
  font-family: MarianneLight;
  color: #787878;
}

.button {
  padding: 10px 20px 13px 20px;
  color: white;
  background: #4081BC;
  border: 2px solid #4081BC;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  color: #4081BC;
}

.alert {
  color: red;
  margin-bottom: 20px;
}

#cart-button {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 30px;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4081BC;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
}
#cart-button i {
  color: #fff;
  font-size: 20px;
  transform: translateX(-1px);
}
#cart-button:hover {
  transform: translateY(-4px);
}

.nav-mobile {
  display: none;
}

nav {
  position: fixed;
  z-index: 10;
  background: #fff;
  padding: 0 30px;
  width: 100vw;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  height: 60%;
}
nav .hamburger {
  display: none;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.4s;
}
nav ul li a:hover, nav ul li a:active, nav ul li a:focus, nav ul li a.link-active {
  color: #4081BC;
}
nav ul .account a {
  height: 40px;
  width: 40px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  background-color: #4081BC;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
}
nav ul .account a:hover {
  transform: translateY(-3px);
}

.cgu {
  padding: 0% 7% 0% 7%;
}
.cgu p {
  padding: 1% 1% 1% 1%;
}

.home h1 {
  padding: 10px 7%;
  margin: 30px 0 0 0;
}
.home a {
  margin: 0 0 30px 7%;
}
.home #gradient {
  background: linear-gradient(0.25turn, RGB(226, 239, 249), white);
  position: relative;
}
.home #gradient:after {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 47%);
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
}
.home #gradient #slider {
  width: 100%;
  margin-left: 7%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  gap: 30px;
}
.home #gradient #slider .slide {
  cursor: pointer;
  position: relative;
}
.home #gradient #slider .slide .slide-content .slide-text {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(64, 129, 188, 0.5);
  height: 234px;
  width: 246px;
  border-radius: 10px;
  opacity: 0;
}
.home #gradient #slider .slide .slide-content .slide-text .slide-title {
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
}
.home #gradient #slider .slide .slide-content .slide-text .slide-title h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}
.home #gradient #slider .slide .slide-content .slide-text .slide-title p {
  font-size: 15px;
  color: white;
}
.home #gradient #slider .slide .slide-content .slide-text:hover {
  opacity: 1;
  transition: all 0.4s;
}
.home #gradient #slider .slide img {
  height: 234px;
  width: 246px;
  border-radius: 10px;
}
.home iframe {
  width: 100%;
  padding: 10px 7%;
  height: 500px;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 7% 30px 7%;
}
header#home {
  align-items: center;
}
header#home img {
  margin-top: -50px;
  width: 80%;
  height: auto;
}
header span,
header a {
  color: #4081BC;
  text-decoration: none;
  padding-left: 2px;
}
header a {
  display: inline-block;
  transition: all 0.4s;
}
header a:hover {
  transform: translateY(-3px);
}
header img {
  height: 40px;
  transform: translateY(5px);
}

.search {
  padding: 0 7%;
  width: 100vw;
  display: flex;
  gap: 30px;
}
.search select {
  width: 150px;
  height: 40px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #787878;
  color: #787878;
  background-color: transparent;
  text-transform: uppercase;
}
.search > div {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  gap: 30px;
}
.search > div button {
  background-color: white;
  border-radius: 25px;
  border: 2px solid #4081BC;
  padding: 10px 30px;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 18px;
  color: #4081BC;
}
.search > div button:hover {
  background-color: #4081BC;
  color: white;
}
.search input {
  position: relative;
  font-family: MarianneLight;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid #787878;
  font-size: 18px;
  padding-left: 35px;
  padding-bottom: 3px;
  background: url("../images/search_default.svg") no-repeat left center;
  outline: none;
  transition: all 0.4s;
}
.search input:active, .search input:focus {
  background: url("../images/search_active.svg") no-repeat left center;
  border-bottom: 2px solid #4081BC;
  color: #4081BC;
}
.search .wrapper {
  margin: 20px 0;
  padding: 10px 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.search .wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}
.search .wrapper .icon i {
  width: 45px;
  height: 45px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  color: #4081BC;
}
.search .wrapper .icon:first-child {
  left: 0;
  background: linear-gradient(90deg, #fff 70%, transparent);
  display: none;
}
.search .wrapper .icon:first-child i {
  margin-left: 15px;
}
.search .wrapper .icon:last-child {
  right: -10px;
  background: linear-gradient(-90deg, #fff 70%, transparent);
}
.search .wrapper .icon:last-child i {
  margin-right: 0;
  transform: translateX(45px);
}
.search .wrapper .filters {
  display: flex;
  list-style: none;
  gap: 13px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.search .wrapper .filters.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.search .wrapper .filters.dragging .filter {
  user-select: none;
}
.search .wrapper .filters .filter {
  cursor: pointer;
  white-space: nowrap;
  background-color: white;
  color: #4081BC;
  border: 2px solid #4081BC;
  border-radius: 25px;
  padding: 5px 20px 8px 20px;
  transition: all 0.3s;
}
.search .wrapper .filters .filter:hover, .search .wrapper .filters .filter:active, .search .wrapper .filters .filter:focus, .search .wrapper .filters .filter.filter-active {
  background-color: rgba(64, 129, 188, 0.25);
}

.lieux {
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px 30px;
  justify-content: space-evenly;
}
.lieux .lieu {
  color: white;
  background-color: #3F80BC;
  position: relative;
  padding-top: 1vh;
  max-width: 500px;
  border-radius: 20px;
  flex: 1 1 500px;
  text-align: center;
  margin-bottom: 3vh;
  padding-bottom: 1vh;
}
.lieux .lieu span {
  color: rgb(234, 234, 234);
}
.lieux .lieu p {
  color: rgb(234, 234, 234);
}

.events {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.events .event {
  width: 100%;
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}
.events .event img {
  height: 350px;
  width: 350px;
  border-radius: 10px;
  cursor: pointer;
}
.events .event > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.events .event > div a {
  align-self: flex-start;
}
.events .event > div span {
  margin-top: -10px;
}

.login {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.login #login-left {
  width: 50vw;
  height: 100%;
  background: url("../images/cathedrale.jpeg") no-repeat center;
  background-size: cover;
}
.login #login-right {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login #login-right form {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.login #login-right form[name=registration_form] ul {
  list-style: none;
  margin: 5px 0 15px 0;
}
.login #login-right form[name=registration_form] ul li {
  color: red;
}
.login #login-right form h1 {
  margin-bottom: 30px;
}
.login #login-right form div {
  display: flex;
  flex-direction: column;
}
.login #login-right form label {
  font-size: 18px;
  color: #787878;
  margin-bottom: 5px;
}
.login #login-right form input[type=email],
.login #login-right form input[type=password] {
  height: 40px;
  border: none;
  border-bottom: 1px solid #787878;
  outline: none;
  margin-bottom: 30px;
  font-family: MarianneLight;
  color: #787878;
  font-size: 16px;
}
.login #login-right form input[type=email]::placeholder,
.login #login-right form input[type=password]::placeholder {
  font-style: italic;
  color: #797979;
}
.login #login-right form input[type=email]:active, .login #login-right form input[type=email]:focus,
.login #login-right form input[type=password]:active,
.login #login-right form input[type=password]:focus {
  border-bottom: 1px solid #4081BC;
  color: #4081BC;
}
.login #login-right form button {
  width: 40%;
  align-self: center;
  font-family: MarianneBold;
  font-size: 16px;
}
.login #login-right form p {
  align-self: center;
  padding-top: 10px;
}
.login #login-right form p a {
  color: #4081BC;
  font-family: Marianne;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
.login #login-right form p a:hover {
  transform: translateX(3px);
}
.login #login-right form .checkbox {
  margin-top: -10px;
  margin-bottom: 30px;
  height: 30px;
  display: flex;
  align-items: flex-start;
}
.login #login-right form .checkbox label {
  cursor: pointer;
}

#contact {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact #contact-container {
  margin: 20px;
  padding: 50px;
  width: 850px;
  background-color: #4081BC;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact #contact-container h2 {
  color: white;
  margin-bottom: 30px;
}
#contact #contact-container p {
  color: white;
}
#contact #contact-container ul {
  padding-left: 30px;
  padding-top: 15px;
  color: white;
}

footer {
  margin: 5vh 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
footer h3 {
  color: black;
}
footer #réseaux {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
footer #réseaux img {
  width: 300px;
}
footer #réseaux ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}
footer #réseaux ul i {
  font-size: 24px;
  color: #4081BC;
  transition: all 0.3s;
}
footer #réseaux ul i:hover {
  transform: translateY(-3px);
}
footer #réseaux section a {
  transition: all 0.3s;
}
footer #réseaux section a:hover {
  color: #4081BC;
}
footer #réseaux section a.link-active {
  color: #4081BC;
}
footer #infos {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
footer a {
  text-decoration: none;
  color: #787878;
}
footer #map {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
}
footer #map ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
footer #map ul a {
  transition: all 0.3s;
}
footer #map ul a:hover {
  color: #4081BC;
}

#event {
  width: 100vw;
  padding: 0 7% 50px 7%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#event > div {
  display: flex;
  gap: 50px;
  align-items: center;
}
#event > div img {
  width: 45%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}
#event > div div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#event a {
  align-self: flex-start;
}
#event span#price {
  font-size: 20px;
  margin-bottom: -20px;
  color: #4081BC;
}
#event .card-action {
  display: flex;
  gap: 20px;
}
#event .card-action div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: max-content;
  align-items: center;
  justify-content: center;
}
#event .card-action div i {
  height: 30px;
  width: 30px;
  background-color: #4081BC;
  color: #fff;
  font-size: 15px;
  padding: 13px 0 13px 0;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#event .card-action div p {
  font-family: MarianneBold;
}

.cart {
  padding: 40px 7%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.cart .cart-empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cart .cart-empty span {
  color: #000;
  font-size: 22px;
}
.cart .cart-content {
  width: calc(100% - 410px);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart .cart-content article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}
.cart .cart-content article img {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  height: fit-content;
  object-fit: cover;
  object-position: center top;
  border-radius: 10px;
}
.cart .cart-content article div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50vw;
}
.cart .cart-content article div p {
  width: 80%;
}
.cart .cart-content article div a {
  align-self: flex-start;
}
.cart .cart-content article div span {
  margin-top: -10px;
  margin-bottom: -10px;
}
.cart .cart-content article div .price {
  color: #4081BC;
  font-family: MarianneBold;
}
.cart .cart-content article div > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.cart .cart-content article div > div .action {
  bottom: 0;
  right: 100px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: auto;
}
.cart .cart-content article div > div .action span {
  margin: 0;
  padding-top: 2px;
  text-align: center;
}
.cart .cart-content article div > div .action i {
  height: 30px;
  width: 30px;
  background-color: #4081BC;
  color: #fff;
  font-size: 15px;
  padding: 13px 0 13px 0;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .cart-content article div > div .del {
  color: #BE3F3F;
  font-size: 20px;
  cursor: pointer;
}
.cart .cart-content hr {
  width: 70%;
  border: 0.5px solid #787878;
}
.cart .cart-checkout {
  background-color: #F4F1F1;
  width: 350px;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  gap: 30px;
}
.cart .cart-checkout div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .cart-checkout div p {
  color: #000;
  font-family: MarianneBold;
}
.cart .cart-checkout hr {
  width: 80%;
  margin: 0 auto;
  border: 0.5px solid #D2D1D1;
}

.payment form {
  width: 100%;
  padding: 20px 7%;
  display: flex;
  justify-content: space-between;
}
.payment .cart-checkout {
  background-color: #F4F1F1;
  width: 350px;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  gap: 30px;
}
.payment .cart-checkout div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment .cart-checkout div p {
  color: #000;
  font-family: MarianneBold;
}
.payment .cart-checkout hr {
  width: 80%;
  margin: 0 auto;
  border: 0.5px solid #D2D1D1;
}
.payment .payment-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.payment .payment-form input {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #F5F1F1;
  border-radius: 10px;
  padding-left: 15px;
  font-family: MarianneLight;
  padding-bottom: 3px;
  outline: none;
}
.payment .payment-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment .payment-form .form-group:nth-child(4) .form-row {
  width: 50%;
}
.payment .payment-form .form-group .form-row {
  display: flex;
  width: 100%;
  gap: 10px;
}
.payment .payment-form .payment-card {
  padding: 0 40px 0 35px;
  height: 100px;
  width: fit-content;
  border-radius: 15px;
  border: 2px solid #F5F1F1;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
.payment .payment-form .payment-card:hover {
  background-color: #F5F1F1;
}
.payment .payment-form .payment-card:before {
  content: "";
  height: 12px;
  width: 12px;
  background-color: #4081BC;
  border-radius: 25px;
  margin-right: 30px;
}
.payment .payment-form .payment-card .payment-card-content p {
  font-family: MarianneBold;
  font-size: 20px;
  color: black;
}
.payment .payment-form .payment-card .payment-card-content div {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}
.payment .payment-form .payment-card .payment-card-content div p {
  font-family: MarianneLight;
  color: #787878;
  font-size: 16px;
}
.payment .payment-form .payment-card img {
  height: 40%;
  padding-left: 40px;
}
.payment .button {
  width: 150px;
  font-family: MarianneBold;
  font-size: 16px;
}

.account-section {
  padding: 0 7%;
}
.account-section .user-action {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.account-section h2 {
  padding: 10px 0;
}
.account-section .commands-history {
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.account-section .commands-history article {
  padding: 0 30px 3px 30px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-section .commands-history article:nth-child(odd) {
  background-color: #F5F1F1;
}

.places {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 7%;
  flex-wrap: wrap;
  gap: 20px;
}
.places .place {
  width: 35%;
  height: auto;
  transition: all 0.3s;
  padding: 20px 10px;
}
.places .place:hover {
  background-color: #F4F1F1;
}

/**************************\
  Basic Modal Styles
\**************************/
.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #4081BC;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "✕";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__footer {
  display: flex;
  gap: 30px;
}

.modal__btn-primary {
  background-color: #4081BC;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

@media (max-width: 900px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  p, span, li, a {
    font-size: 16px;
  }
  header#home img {
    width: 95%;
  }
  nav ul {
    display: none;
  }
  nav img {
    margin-left: -30px;
  }
  nav .hamburger {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 40px;
    justify-content: space-between;
  }
  nav .hamburger div {
    height: 5px;
    width: 100%;
    background-color: #4081BC;
    border-radius: 5px;
    transition: all 0.3s;
  }
  nav .hamburger.opened div:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
  }
  nav .hamburger.opened div:nth-child(2) {
    width: 0;
  }
  nav .hamburger.opened div:nth-child(3) {
    transform: translateY(-13px) rotate(45deg);
  }
  .nav-mobile {
    transform: translateY(-100vh);
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
  }
  .nav-mobile.nav-opened {
    transform: translateY(0);
  }
  .nav-mobile ul {
    margin-top: 90px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .nav-mobile ul li a {
    font-size: 18px;
  }
  .nav-mobile ul li:last-child {
    margin-top: 30px;
  }
  .home #gradient:after {
    width: 50px;
  }
  .search input {
    font-size: 16px;
  }
  .events {
    gap: 40px;
  }
  .events .event {
    flex-direction: column;
    gap: 15px;
  }
  .events .event img {
    width: 100%;
    height: auto;
  }
  .events .event > div p {
    text-align: justify;
  }
  #event > div {
    flex-direction: column;
    gap: 15px;
  }
  #event > div img {
    width: 100%;
    height: auto;
    max-width: none;
  }
  #event > div div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  #event .card-action {
    align-items: flex-start;
  }
  #contact #contact-container {
    padding: 30px;
  }
  .login #login-left {
    width: 0;
    height: 0;
  }
  .login #login-right {
    width: 100vw;
  }
  .login #login-right form {
    width: 80%;
  }
  .login #login-right form h1 {
    text-align: center;
  }
  .login #login-right form div {
    display: flex;
    flex-direction: column;
  }
  .login #login-right form label {
    font-size: 16px;
  }
  .login #login-right form button {
    width: auto;
  }
  .cart {
    flex-direction: column;
    align-items: center;
    padding: 0 7%;
  }
  .cart .cart-content {
    width: 100%;
  }
  .cart .cart-content article {
    flex-direction: column;
  }
  .cart .cart-content article img {
    min-width: 0;
    max-width: none;
    min-height: 0;
    height: auto;
    width: 100%;
  }
  .cart .cart-content article div {
    gap: 15px;
    width: 100%;
  }
  .cart .cart-content article div p {
    width: 100%;
    text-align: justify;
  }
  .cart .cart-checkout {
    width: 100%;
  }
  .payment form {
    padding: 15px 7%;
    flex-direction: column;
    gap: 30px;
  }
  .payment .cart-checkout {
    width: auto;
  }
  .payment .payment-form {
    width: 100%;
    gap: 30px;
  }
  .payment .payment-form button {
    display: none;
  }
  .payment .payment-form .payment-card {
    display: none;
  }
  .payment .button {
    width: 150px;
    font-family: MarianneBold;
    font-size: 16px;
  }
  .account-section .commands-history {
    padding: 20px 0;
    overflow: scroll;
    white-space: nowrap;
  }
  .account-section .commands-history article {
    padding: 0 30px 3px 30px;
    gap: 40px;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .account-section .commands-history article:nth-child(odd) {
    background-color: #F5F1F1;
    background-size: 100%;
  }
  footer section {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
