@font-face {
  font-family: 'MarianneRegular';
  src: url("./fonts/marianne/Marianne-Regular.woff") format('woff');
}

@font-face {
  font-family: 'MarianneBold';
  src: url("./fonts/marianne/Marianne-Bold.woff") format('woff');
}

$main-color: #4081BC;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: MarianneRegular, sans-serif;
}

h1 {
  font-family: MarianneBold, sans-serif;
}

.button {
  padding: 10px 20px;
  color: white;
  background: $main-color;
  border: 2px solid $main-color;
  border-radius: 5px;

  &:hover {
    background-color: transparent;
    color: $main-color;
  }
}

nav {
  padding: 0 30px;
  width: 100vw;
  height: 90px;
  -webkit-box-shadow: 3px 3px 11.5px -5.5px #dddddd;
  -moz-box-shadow: 3px 3px 11.5px -5.5px #dddddd;
  box-shadow: 3px 3px 11.5px -5.5px #dddddd;

  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 60%;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    li a {
      color: black;
      text-decoration: none;
      transition: all 0.4s;

      &:hover,
      &:active,
      &:focus,
      &.link-active {
        color: $main-color;
      }
    }
  }
}
