{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<header id="header_contact">
    <span><a href="/">Accueil</a> / Contact</span>
    <h1>Informations utiles</h1>
    <p>Hôtel de ville : 9 place de l'Hôtel de Ville - 51100 Reims</p>
</header>

<section id="contact">

<div id="block">
    <div id="content-block">
        <h2>Hôtel de ville de Reims</h2>
        <p> Ouverture au public du lundi au vendredi de 8h30 à 12h00 et de 13h00 à 17h00.</p> 
        <p>sur rendez-vous uniquement (en appelant le 03 26 77 78 79 du lundi au vendredi de 8h30 à 12h00) pour :</p>
        <p>- Passeport (demande ou renouvellement)</p>
        <p>- Carte nationale d’identité (demande ou renouvellement)</p>
        <p>- Attestation d’accueil</p>
    </div>
</div>

</section>


{% endblock %}
