<!DOCTYPE html>
<html>
    <head>
        <title>Reims Événements | {% block title %}{% endblock %}</title>

        {# Meta Tags #}
        <meta charset="UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {# Links & Scripts #}
        <link rel="icon" href="{{ asset('build/icon.png') }}">
        <script src="https://kit.fontawesome.com/314e9f83f9.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </head>
    <body>
        {% include('parts/nav.html.twig') %}

        <div id="cart-button">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>

        {% block body %}{% endblock %}
        {% include('parts/footer.html.twig') %}
    </body>
</html>