{% extends 'base.html.twig' %}

{% block title %}Hello LieuxController!{% endblock %}

{% block body %}
    <header>
        <span><a href="/">Accueil</a> / Les lieux mythiques</span>
        <h1>Les lieux</h1>
    </header>

{#    <section class="search">#}
{#        <input type="search" placeholder="Rechercher un lieux, une date ou une adresse...">#}
{#    </section>#}

    <section class="events">
        {% for lieu in places %}
            {% if lieu.capacity > 0 %}
                <article class="event">
                    <div>
                        <h2>{{ lieu.name }}</h2>
                        <p><span>{{ lieu.address }}</span> avec une capacité de <span>{{ lieu.capacity }}</span> personnes</p>
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </section>

{% endblock %}
