{% extends 'base.html.twig' %}

{% block title %}Commande passée{% endblock %}

{% block body %}
    <header>
        <span><a href="{{ path('app_home') }}">Accueil</a> / <a href="{{ path('app_cart') }}">Mon Panier</a> / Paiement / Paiement Réussi</span>
        <h1>La commande a bien été enregistré</h1>
    </header>
{% endblock %}