{% extends 'base.html.twig' %}

{% block title %}Événements{% endblock %}

{% block body %}
    <header>
        <span><a href="/">Accueil</a> / Événements</span>
        <h1>Nos Événements</h1>
    </header>

    <section class="search">
        <input type="search" placeholder="Rechercher un événement, un genre ou une date...">
        <div class="wrapper">
            <div class="icon">
                <i class="ri-arrow-left-s-line"></i>
            </div>
            <ul class="filters">
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
                <li class="filter">Filter</li>
            </ul>
            <div class="icon">
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
    </section>
{% endblock %}
