{% extends 'base.html.twig' %}

{% block title %}Événements{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('events') }}
{% endblock %}

{% block body %}
    <header>
        <span><a href="/">Accueil</a> / Événements</span>
        <h1>Nos Événements</h1>
    </header>

    <section class="search">
        <input type="search" placeholder="Rechercher un événement, un genre ou une date...">
{#        <div class="wrapper">#}
{#            <div class="icon">#}
{#                <i id="left" class="ri-arrow-left-s-line"></i>#}
{#            </div>#}
{#            <ul class="filters">#}
{#                <li class="filter">Récent</li>#}
{#                <li class="filter">Populaire</li>#}
{#                <li class="filter">En plein air</li>#}
{#                <li class="filter">En intérieur</li>#}
{#                <li class="filter">Pour toute la famille</li>#}
{#                <li class="filter">Enfants</li>#}
{#                <li class="filter">Ados</li>#}
{#                <li class="filter">Adultes</li>#}
{#                <li class="filter">Concerts & Spectacles</li>#}
{#                <li class="filter">Marchés</li>#}
{#            </ul>#}
{#            <div class="icon">#}
{#                <i id="right" class="ri-arrow-right-s-line"></i>#}
{#            </div>#}
{#        </div>#}
    </section>

    <section class="events">
        <article class="event">
            <img src="https://ngproductions.fr/wp-content/uploads/2022/06/Template-Affiche-Siteweb-Damso.jpg" alt="">
            <div>
                <h2>Titre de l'événement</h2>
                <span>Le 19 juin 2022 à 15h<br>Concert</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, adipisci, asperiores. Accusamus, ad
                    alias aliquid asperiores atque autem beatae commodi consequatur cumque cupiditate delectus dolorum ea enim eos exercitationem explicabo.<br>
                    facilis fuga fugiat hic id illum impedit incidunt inventore ipsa ipsam ipsum iste iure iusto laboriosam laborum laudantium libero magnam magni.
                </p>
                <a class="button" href="#">En savoir plus</a>
            </div>
        </article>

        <article class="event">
            <img src="https://ngproductions.fr/wp-content/uploads/2022/06/Template-Affiche-Siteweb-Damso.jpg" alt="">
            <div>
                <h2>Titre de l'événement</h2>
                <span>Le 19 juin 2022 à 15h<br>Concert</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, adipisci, asperiores. Accusamus, ad
                    alias aliquid asperiores atque autem beatae commodi consequatur cumque cupiditate delectus dolorum ea enim eos exercitationem explicabo.<br>
                    facilis fuga fugiat hic id illum impedit incidunt inventore ipsa ipsam ipsum iste iure iusto laboriosam laborum laudantium libero magnam magni.
                </p>
                <a class="button" href="#">En savoir plus</a>
            </div>
        </article>

        <article class="event">
            <img src="https://ngproductions.fr/wp-content/uploads/2022/06/Template-Affiche-Siteweb-Damso.jpg" alt="">
            <div>
                <h2>Titre de l'événement</h2>
                <span>Le 19 juin 2022 à 15h<br>Concert</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, adipisci, asperiores. Accusamus, ad
                    alias aliquid asperiores atque autem beatae commodi consequatur cumque cupiditate delectus dolorum ea enim eos exercitationem explicabo.<br>
                    facilis fuga fugiat hic id illum impedit incidunt inventore ipsa ipsam ipsum iste iure iusto laboriosam laborum laudantium libero magnam magni.
                </p>
                <a class="button" href="#">En savoir plus</a>
            </div>
        </article>
    </section>
{% endblock %}
